*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: hsl(103, 89%, 46%);
	background-color: rgb(0, 238, 255);
	font-size: 1rem;
	font-size: calc(10px + 2vmin);
}

body {
	background-color: #f5f5f5;
	color: black;
	display: flex;
	flex-direction: column;
        overflow: auto;
	font-family: 'Times New Roman", Times, serif;
	justify-content: center;
	line-height: 1em;
	margin: 0 auto;
	max-width: 620px;
	min-height: 100vh;
	min-width: 250px;
	padding: 1rem 2rem;
}

.intro {
	background-color: rgb(82, 80, 79);
	color: white;
	border-radius: 2rem;
	padding: 2rem;
	margin: 2rem;
}

.top {
	align-items: center;
	background-color: rgb(0, 238, 255);
	display: flex;
	flex-direction: row;
	height: 3rem;
	justify-content: center;
	margin-bottom: 10px;
	width: 100%;
}

.top nav,
.top ul,
.top li,
.top a {
	align-items: center;
	display: flex;
        overflow: auto;
	flex-direction: row;
	justify-content: center;
	width: 99%;
}

.top ul {
	background: transparent;
        overflow: auto;
	cursor: pointer;
	font-size: 2rem;
	list-style: none;
	text-align: center;
}

.top a {
	border: 1rem groove hsl(103, 89%, 46%);
	color: white;
	text-decoration: none;
}

.top a:hover {
  background-color: gold;
}

.actions {
	background-color: hsl(103, 89%, 46%);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.todoapp {
	background: rgb(0, 238, 255);
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.3),
	0 1.65rem 3.125rem 0 rgba(0, 0, 0, 4);
	margin: 8rem 0 2.5rem 0;
	position: relative;
}

.todoapp h1 {
	color: gold;
	font-size: 6rem;
	position: absolute;
	text-align: center;
	top: -20rem;
	width: 100%;
}

.new-todo {
	background: hsl(103, 89%, 46%);
	border: 1rem outset#999;
	outline: 1rem ridge gold;
	box-sizing: border-box;
	color: rgb(0, 238, 255);
	font-family: inherit;
	font-size: 4rem;
	font-weight: inherit;
	line-height: 1.4em;
	margin: 0;
	padding: 2rem 2rem 2rem 3.75rem;
	position: relative;
	width: 100%;
}

.main {
	border: 1rem outset #999;
	outline: 1rem ridge gold;
	position: relative;
}

.todo-list {
	list-style: none;
	margin: 0 2rem;
	padding: 0;
	border: 1rem outset #999;
	outline: 1rem inset gold;
}

.todo-list li {
	border: 1rem groove #ededed;
	position: relative;
}

.todo-list li:last-child {
	border: 1rem groove #999;
}

.completed {
	color: #666666;
	text-decoration: line-through;
}

.return-home {
	background-color: gold;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 2rem;
	justify-content: center;
	margin-bottom: 100px;
}

.footer {
	align-items: center;
	display: flex;
	font-size: 1rem;
	justify-content: center;
	text-align: center;
}

.footer:before {
	bottom: 0;
	box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3),
	            0 1rem 0 -0.5rem gold,
	            0 1.25rem 0.25rem -0.5rem rgba(0, 0, 0, 0.3),
	            0 2rem 0 -1rem gold,
	            0 2rem 0.5rem -1rem rgba(0, 0, 0, 0.3);
	content: '';
	height: 3rem;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
}
